{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                     style="background: rgba(43, 57, 64, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h3 class="display-3 text-white animated slideInDown mb-4">
                                    Toshkent Davlat Stomatologiya Instituti
                                </h3>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                    Kerakli ma'lumotlarni QR code orqali ifodalash
                                </p>
                                <a href="{% url 'main:links' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">
                                    Link Generate
                                </a>
                                <a href="{% url 'main:generators' %}" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">
                                    Data Generate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                     style="background: rgba(43, 57, 64, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h3 class="display-3 text-white animated slideInDown mb-4">
                                    Toshkent Davlat Stomatologiya Instituti
                                </h3>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                    Kerakli ma'lumotlarni QR code orqali ifodalash
                                </p>
                                <a href="{% url 'main:links' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">
                                    Link Generate
                                </a>
                                <a href="{% url 'main:generators' %}" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">
                                    Data Generate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Link Generate</h1>
            <div class="row g-4">
                {% for link in links %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="/media/img/{{ link.id }}.png" target="_blank">
                            <img class="flex-shrink-0 img-fluid border rounded"
                                 src="/media/img/{{ link.id }}.png" alt=""
                                 style="width: 150px; height: 150px;">
                            <h6 class="mb-3">{{ link.id }}</h6>
                            <p class="mb-0">{{ link.url }}</p>
                        </a>
                    </div>
                {% endfor %}
                <a class="btn btn-primary py-3 px-5" href="{% url 'main:links' %}">
                    All Link Generate
                </a>
            </div>
        </div>
    </div>
    <!-- Category End -->

    <!-- Jobs Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                Data Generate
            </h1>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        {% for generator in generators %}
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded"
                                             src="/media/generate/{{ generator.id }}.png" alt=""
                                             style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">
                                                {{ generator.id }} - {{ generator.name }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" href="{% url 'main:generator' generator.id %}"
                                               style="margin-right: 10px;">
                                                Ko'rish
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <a class="btn btn-primary py-3 px-5" href="{% url 'main:generators' %}">
                            All Data Generate
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jobs End -->

    

{% endblock %}
